<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title layout:title-pattern="$CONTENT_TITLE - Resume">Resume</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<header th:replace="fragments/resume_header :: header"></header>

<main class="container">
    <div layout:fragment="content"></div>
</main>

<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
